# Node
**/node_modules/
npm-debug.log
yarn-error.log

tests/test01
venv
external_libs/aisStream
external_libs/node_modules
external_libs/package-lock.json
external_libs/package.json
example
config.txt
openapi.json
openapitools.json
yaml_files/type-definition.yaml


# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.tests/test00

# Visual Studio Code
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.history/*

# System files
.DS_Store
Thumbs.db

# Log
*.log

# Environment files
.env
.env.*

